@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap");
* {
  font-family: Montserrat;
}

a {
  color: white;
}

#main {
  height: 100vh;
}

.main-primary {
  color: white;
  font-size: 40px;
  font-weight: 600;
}

.main-secondary {
  color: white;
  font-size: 15px;
  font-weight: 300;
}

.main-button {
  background: none;
  color: none;
  border: 2px solid;
  border-radius: 16px;
  outline: none;
  font-size: 10px;
}

.main-button:hover {
  background: #616161;
}

.nounderline {
  text-decoration: none !important;
  color: white;
}
.nounderline:hover {
  color: white;
  transition: all 0.2s ease-out;
}

body {
  background: rgb(0, 0, 0);
}

main {
  height: 100vh;
}

.jumbotron {
  background: rgb(255, 255, 255);
}

.icons {
  margin-top: 15px;
}

.icons a {
  padding: 0.4rem;
}

.icons a:hover {
  color: #616161;
  transition: all 0.2s ease-out;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .main-primary {
    font-size: 80px;
  }

  .main-secondary {
    font-size: 25px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main-primary {
    font-size: 110px;
  }

  .main-secondary {
    font-size: 35px;
  }

  .main-button {
    border-radius: 20px;
    font-size: 18px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
